.card-container {
	perspective: 700;
}

.card {
	position: relative;
	color: white;
	text-align: center;
	line-height: 300px;
	margin: 100px;
	
	width: 300px;
	height: 300px;
	transition: all 0.6s ease;
	transform-style: preserve-3d;
}

h1 {
	margin: 0;
}

.back {
	transform: rotateY(180deg);
}

.front, .back {
	position: absolute;
	background: #5677fc;
	top: 0;
	left: 0;
	width: 300px;
	height: 300px;
	backface-visibility: hidden;
}

.card:hover {
	transform: rotateY(180deg);
}